/* .footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: lightgray;
    border-top: 1px solid black;
    background-attachment: fixed;
  }
  
  
  .footer_link {
    color: lightgray;
    text-decoration: underline;
  }
  
  .footer_link:hover {
    color: lightgray;
  }
  
  .footer_logo {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .footer_social {
    margin-top: 20px;
  }
  
  .footer_social-icon {
    display: inline-block;
    margin: 0 10px;
    color: lightgray;
    font-size: 20px;
  }
  
  .footer_social-icon:hover {
    color: lightgray;
  }
   */
   /* Footer CSS */

/* .footer {
  background-color: black;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: lightgray;
  border-top: 1px solid black;
  background-attachment: fixed;
  bottom: 0;
  left: 0;
  width: 97.3%;
  z-index: 999;
}

.footer_link {
  color: lightgray;
  text-decoration: underline;
}

.footer_link:hover {
  color: lightgray;
}

.footer_logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.footer_social {
  margin-top: 20px;
}

.footer_social-icon {
  display: inline-block;
  margin: 0 10px;
  color: lightgray;
  font-size: 20px;
}

.footer_social-icon:hover {
  color: lightgray;
} */

.footer {
  background-color: black;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: lightgray;
  border-top: 1px solid black;
  background-attachment: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.footer_link {
  color: lightgray;
  text-decoration: underline;
}

.footer_link:hover {
  color: lightgray;
}

.footer_logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.footer_social {
  margin-top: 20px;
}

.footer_social-icon {
  display: inline-block;
  margin: 0 10px;
  color: lightgray;
  font-size: 20px;
}

.footer_social-icon:hover {
  color: lightgray;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .footer {
    padding: 10px;
    font-size: 12px;
  }

  .footer_logo {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
  }

  .footer_social-icon {
    font-size: 16px;
  }
}

@media screen and (max-width: 300px) {
  .footer {
    padding: 5px;
    font-size: 10px;
  }

  .footer_logo {
    width: 60px;
    height: 60px;
    margin-bottom: 3px;
  }

  .footer_social-icon {
    font-size: 12px;
  }
}

